{% extends 'base.html.twig' %}

{% block title %}Contributor{% endblock %}

{% block body %}
    <h1>Contributor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contributor.id }}</td>
            </tr>
            <tr>
                <th>Civilité</th>
                <td>{{ contributor.civility }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contributor.lastname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ contributor.firstname }}</td>
            </tr>
            <tr>
                <th>Complément du Nom</th>
                <td>{{ contributor.complementName }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ contributor.login }}</td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>{{ contributor.pwd }}</td>
            </tr>
        </tbody>
    </table>

                <!-- Formulaire des décisions -->

    <div class="container-fluid text-center">
        {% if waitingDocuments | length > 0  %}
        <blockquote>La liste des documents n'ayant pas encore une décision de dépôt</blockquote>

          <table class="table">
              <tbdody>
              {% for waitDocument in waitingDocuments %}
                  <th class="text-center">Document DOI</th>
                  <th class="text-center">Titre du document</th>
                  <th class="text-center">Etat du Dépôt</th>
                  <th class="text-center">Date de la dernière décision </th>
                  <th class="text-center">Voulez-vous déposer dans HAL ? </th>
              <tr>

                  <td>{{ waitDocument['document']['doi'] }}</td>
                  <td>{{ waitDocument['document']['title'] }}</td>
                  <td>{{ waitDocument['document']['decisionContent'] }}</td>
                  <td>{{ waitDocument['document']['dateCreationDecision'] | date('Y-m-d H:i:S') }}</td>
                  <td>
                      <p class="text-center">
                          <input type="radio" name="R1" value="Oui"> Oui
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <input type="radio" name="R1" value="Non"> Non
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <input type="radio" name="R1" value="Ultérieurement"> Ultérieurement
                      </p>
                  </td>
              </tr>
              {% endfor %}
              </tbdody>
          </table>
        {% else %}
            <blockquote>Vous n'avez aucun document en attente de dépôt</blockquote>
        {% endif %}
    </div>


     <!-- Fin Formulaire -->


    <a href="{{ path('contributor_connexion') }}" class="btn btn-primary my-2">Se déconnecter</a>
    <br /><br />


    <div class="container-fluid text-center">
        {% if waitingDocuments | length > 0  %}
            <blockquote>Affichage essai des formulaires pour chaque decision</blockquote>

            <table class="table">
                <tbdody>
                    {% for waitDocument in waitingDocuments %}
                              <tr>
                                  <td>
                                            {{ form_start(form) }}
                                           {{ form_widget(form) }}
                                             {{ form_end(form) }}
                                  </td>
                              </tr>
                    {% endfor %}
                </tbdody>
            </table>
        {% else %}
            <blockquote>Vous n'avez aucun document en attente de dépôt</blockquote>
        {% endif %}
    </div>
{% endblock %}
