{% extends 'base.html.twig' %}

{% block title %}Contributor{% endblock %}

{% block body %}
    <h1>Contributor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contributor.id }}</td>
            </tr>
            <tr>
                <th>Civilité</th>
                <td>{{ contributor.civility }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contributor.lastname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ contributor.firstname }}</td>
            </tr>
            <tr>
                <th>Complément du Nom</th>
                <td>{{ contributor.complementName }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ contributor.login }}</td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>{{ contributor.pwd }}</td>
            </tr>
        </tbody>
    </table>

                <!-- Formulaire des décisions -->

    <div class="container-fluid text-center">
        {% if contributor.documents | length > 0  %}
            <blockquote>La liste des documents n'ayant pas encore une décision de dépôt</blockquote>


            {{ form_start(form,{'action': path('contributor_show',{'id': contributor.id})}) }}

            <table class="table">
                <th class="text-center">Document DOI</th>
                <th class="text-center">Date de la création de la décision </th>
                <th class="text-center">Voulez-vous déposer dans HAL ? </th>

                <tbdody>
                    {% for formu in forms %}
                        <tr>
                            <td> {{ formu.id.vars.value }}</td>
                            <td>{{ contributor.decision.allowedAt | date('Y-m-d à H:i:s') }}</td>
                            <td>{{ form_widget(formu) }}</td>
                        </tr>
                    {% endfor %}
                </tbdody>
            </table>
            {{ form_end(form) }}
        {% else %}
            <blockquote>Vous n'avez aucun document en attente de dépôt</blockquote>
        {% endif %}
    </div>


     <!-- Fin Formulaire -->


{% endblock %}
