{% extends 'base.html.twig' %}

{% block title %}Contributor{% endblock %}

{% block body %}
    <h1>Contributor</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ contributor.id }}</td>
        </tr>
        <tr>
            <th>Civilité</th>
            <td>{{ contributor.civility }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ contributor.lastname }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ contributor.firstname }}</td>
        </tr>
        <tr>
            <th>Complément du Nom</th>
            <td>{{ contributor.complementName }}</td>
        </tr>
        <tr>
            <th>Login</th>
            <td>{{ contributor.login }}</td>
        </tr>
        <tr>
            <th>Mot de passe</th>
            <td>{{ contributor.pwd }}</td>
        </tr>
        </tbody>
    </table>

    <!-- Formulaire des décisions -->

    <div class="container-fluid text-center">
        {% if waitingDocuments | length > 0  %}
            <blockquote>La liste des documents n'ayant pas encore une décision de dépôt</blockquote>
            {{ form_start(form) }}
            {{ form_end(form) }}
            <table class="table" data-prototype="{{ form_widget(form.documents.vars.prototype)|e ('html_attr') }}"
                                 data-widget-tags="{{ '<tr></tr>'|e }}"
                                 data-widget-counter="{{ form.children|length }}">
                <tbdody>
                    <th class="text-center">Document DOI</th>
                    <th class="text-center">Titre du document</th>
                    <th>Etat du dépôt du document sur HAL</th>
                    <th class="text-center">Date de la création de la décision </th>
                    <th class="text-center">Voulez-vous déposer dans HAL ? </th>

                    {% for document in form.documents %}
                        <tr>
                            <td>{{ document.vars.value.doi }}</td>
                            <td>{{ document.vars.value.title }}</td>
                            <td>{{ document.vars.value.decision.content }}</td>
                            <td>{{ document.vars.value.createdAt | date('Y-m-d H:i:s') }}</td>
                            <td>
                                    <select name="D1">
                                                 <option>{{ document.children.decision.vars.choices[0].label }}</option>
                                                 <option>{{ document.children.decision.vars.choices[1].label }}</option>
                                                 <option>{{ document.children.decision.vars.choices[2].label }}</option>
                                                 <option>{{ document.children.decision.vars.choices[3].label }}</option>
                                    </select>
                            </td>
                        </tr>
                    {% endfor %}

                </tbdody>
            </table>

        {% else %}
            <blockquote>Vous n'avez aucun document en attente de dépôt</blockquote>
        {% endif %}
    </div>

    <!-- Fin Formulaire -->


    <a href="{{ path('contributor_connexion') }}" class="btn btn-primary my-2">Se déconnecter</a>


{% endblock %}


