{% extends 'base.html.twig' %}

{% block title %}Contributor{% endblock %}

{% block body %}
    <h1>Contributor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contributor.id }}</td>
            </tr>
            <tr>
                <th>Civilité</th>
                <td>{{ contributor.civility }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contributor.lastname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ contributor.firstname }}</td>
            </tr>
            <tr>
                <th>Complément du Nom</th>
                <td>{{ contributor.complementName }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ contributor.login }}</td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>{{ contributor.pwd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
