{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}Decision En attente{% endblock %}

{% block body %}
    <h1>Les Decisions en attente</h1>
<div class="container">
    {% for decision in decisions %}
        <div class="col-sm-4">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ decision.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ decision.content }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ decision.allowedAt ? decision.allowedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Prise / Non Prise</th>
                <td>{{ decision.isTaken ? 'Yes' : 'No' }}</td>
            </tr>
            </tbody>
        </table>
        </div>
    {% endfor %}
</div>

=======
{% block title %}Decision Waiting{% endblock %}

{% block body %}
    <h1>Les Documents non encore publiés sur HAL</h1>
    <table class="table">
        <tbody>
        {% for decision in decisions %}
        <tr>
            <th>Id</th>
            <td>{{ decision.id }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ decision.content }}</td>
        </tr>
        <tr>
       <td> <table class="table">
               {% for document in decision.getDocuments() %}
               <tr><th>Document</th>
                   <td>{{ document.id }}</td>
               </tr>
               {% endfor %}
               {% for contributor in decision.getContributors() %}
               <tr><th>Contributor</th>
                   <td>{{ contributor.getLogin }}</td>
               </tr>
               {% endfor %}
           </table>
               </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
>>>>>>> 8b5030a68fdfab11c2beeb701baef5baec1af8c3

{% endblock %}
